.hero {
  padding: 100px;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.centered {
  position: absolute;
  font-family: 'Open Sans';
  font-size: 50px;
  margin-top: 70px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
	position: absolute;
	margin-top: 280px;
	left: 50%;
    top: 70%;
    width: auto;
	font-size: 25px;
	transform: translate(-50%, -50%);
}

img { 
	margin-top: 50px;
	opacity: 0.8;
	z-index: -4;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  z-index: -1;
}
