.hero {
  padding: 10px;
  margin-top: 125px;

}

.subhero {
  margin-top: 25px;
  margin-bottom: 75px;
}

.subheading {
  margin-bottom: 0px;
  margin-top: 25px;
}

.centered {
  position: absolute;
  font-family: 'Open Sans';
  font-size: 50px;
  margin-top: 70px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
	position: absolute;
	margin-top: 280px;
	left: 50%;
    top: 70%;
    width: auto;
	font-size: 25px;
	transform: translate(-50%, -50%);
}

.buttons {
  margin-top: 45px;
}